@use "../abstracts/" as *;

@font-face {
  font-family: "Mazius Review 20.09";
  src: url("../assets/fonts/MaziusReview.woff") format("woff"),
    url("../assets/fonts/MaziusReview.woff2") format("woff2"),
    url("../assets/fonts/MaziusReview.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Mazius Review 20.09 Extra";
  src: url("../assets/fonts/MaziusReviewExtra.woff") format("woff"),
    url("../assets/fonts/MaziusReviewExtra.woff2") format("woff2"),
    url("../assets/fonts/MaziusReviewExtra.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Petrona";
  src: url("../assets/fonts/Petrona.woff") format("woff"),
    url("../assets/fonts/Petrona.woff2") format("woff2"),
    url("../assets/fonts/Petrona.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Petrona";
  src: url("../assets/fonts/PetronaSemiBold.woff") format("woff"),
    url("../assets/fonts/PetronaSemiBold.woff2") format("woff2"),
    url("../assets/fonts/PetronaSemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  font-family: "Petrona", serif;
  font-size: var(--fz-2);
  color: var(--color-dark);
}

.text {
  &--1 {
    font-size: var(--fz-1);
  }
  &--2 {
    font-size: var(--fz-2);
  }
  &--3 {
    font-size: var(--fz-3);
  }
  &--4 {
    font-size: var(--fz-4);
  }
  &--5 {
    font-size: var(--fz-5);
  }
  &--6 {
    font-size: var(--fz-6);
  }
  &--7 {
    font-size: var(--fz-7);
  }

  &--display {
    font-family: "Mazius Review 20.09", serif;
  }

  &--sb {
    font-weight: var(--fw-semibold);

    &:link,
    &:visited {
      font-weight: var(--fw-semibold);
    }
  }

  &--rg {
    font-weight: var(--fw-regular);
  }

  &--highlight {
    font-family: "Mazius Review 20.09 Extra", serif;
    color: var(--color-primary);
  }

  &--ribbon {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      line-height: 0;
      height: 1px;
      width: 30%;
      background: var(--color-primary);
    }
  }
}
