.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  text-decoration: none;
  background: var(--color-primary);
  font-family: inherit;
  font-size: var(--fz-2);
  color: var(--color-bg);
  font-weight: var(--fw-semibold);
  padding: 1.5rem 4rem;
  transition: all 0.25s var(--easing);

  &:focus,
  &:active {
    outline: none;
    transform: scale(0.975);
  }

  &:hover {
    background: var(--color-primary-dark);
    box-shadow: 0 1rem 2rem rgba(var(--btn-shadow-rgb), 0.5);
  }
}
