@use "../abstracts" as *;

.form {
  &__group {
    display: flex;
    flex-flow: column;

    &:not(:last-of-type) {
      margin-bottom: var(--m-4);
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: var(--m-2);
    font-weight: var(--fw-semibold);
  }

  &__input,
  & select {
    display: inline-block;
    width: 100%;
    padding: 1.5rem 2rem;
    border: 1px solid var(--color-primary);
    font-size: inherit;
    font-family: inherit;
    background: var(--color-bg);
    color: var(--color-dark);
    transition: all 0.15s var(--easing);

    &:hover {
      background: var(--color-light);
    }

    &:focus {
      background: var(--color-light);
      outline: none;
    }

    &::placeholder {
      color: #8a7c6c;
      font-size: 1.6rem;
    }
  }

  & select {
  }

  & textarea {
    resize: vertical;
  }
}
