.quote {
  & .citation {
    display: flex;
    align-items: center;
  }

  &__text {
    position: relative;
    z-index: 1;

    &::before {
      content: "\201C";
      display: inline-block;
      position: absolute;
      left: -4rem;
      top: -6rem;
      z-index: -1;
      font-family: "Petrona";
      font-size: 24rem;
      color: var(--color-primary-light);
      opacity: 0.5;
    }
  }
}
