@use "../abstracts/" as *;

section {
  scroll-behavior: smooth;
}

.section {
  &--about {
    margin-top: 25rem;

    @include respond("tablet") {
      margin-top: 35rem;
    }

    @include respond("laptop") {
      margin-top: 0;
    }
  }
}
